@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.wrapper {
  height: 100vh;
}

.main-nav {
  height: 15%;
  width: 100%;
  background-color: #3c3a39;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
}

.main-body {
  height: 85%;
  width: 100%;
  background-color: #1c1a19;
  background-image: url('./images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.left-bar {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 20px;
  text-align: center;
}

.left-bar .time {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #fff;
}

.left-bar .name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.right-bar {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  justify-content: space-around;
}

.container {
  position: relative;
  height: 55%;
  width: 80%;
  top: 130px;
  left: 40px;

  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.container .intro {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.container .title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.container .description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.logo .linkedin {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 500px) {
  .container {
    gap: 8px;
  }

  .container .intro {
    font-size: 36px;
    line-height: 32px;
  }
}

@media all and (max-width: 400px) {
  .container {
    gap: 10px;
  }

  .container .intro {
    font-size: 38px;
    line-height: 34px;
  }
}

@media all and (max-width: 380px) {
  .container {
    gap: 8px;
    top: 100px;
    padding: 5px;
  }

  .container .intro {
    font-size: 30px;
    line-height: 34px;
  }

  .container .description {
    font-size: 12px;
  }
}

@media all and (max-width: 300px) {
  .container {
    gap: 8px;
    top: 100px;
    padding: 5px;
  }

  .container .intro {
    font-size: 30px;
    line-height: 34px;
  }

  .container .description {
    font-size: 12px;
  }
}

@media all and (max-width: 270px) {
  .container {
    gap: 6px;
    top: 90px;
    padding: 5px;
  }

  .container .intro {
    font-size: 28px;
    line-height: 27px;
  }

  .container .description {
    font-size: 12px;
  }
}

@media all and (max-width: 220px) {
  .container {
    gap: 2px;
    top: 90px;
    padding: 5px;
  }

  .container .intro {
    font-size: 22px;
    line-height: 34px;
  }

  .container .title {
    font-size: 14px;
  }

  .container .description {
    font-size: 12px;
    line-height: 25px;
  }
}

@media all and (max-width: 212px) {
  .container {
    gap: 16px;
    top: 70px;
    padding: 5px;
  }

  .container .intro {
    font-size: 24px;
    line-height: 25px;
  }

  .container .title {
    font-size: 10px;
  }

  .container .description {
    font-size: 12px;
    line-height: 20px;
  }
}

@media all and (max-width: 180px) {
  .container {
    gap: 16px;
    top: 70px;
    padding: 1px;
  }

  .container .intro {
    font-size: 18px;
    line-height: 20px;
  }

  .container .title {
    font-size: 9px;
  }

  .container .description {
    font-size: 8px;
    line-height: 20px;
  }
}
