@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Lateef:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: InaiMathi;
  src: url(./fonts/InaiMathi\ Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* wraper division start */

.wrapper {
  height: 100vh;
}

.main-nav {
  height: 8%;
  width: 100%;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
  padding-right: 65px;
}

.main-logo a {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.main-body {
  height: 95%;
  width: 100%;
  background-color: #1c1a19;
  background-image: url('./images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.container {
  position: relative;
  height: 55%;
  width: 80%;
  top: 130px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.container .intro {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.container .title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.container .description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.logo ul {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.logo .linkedin {
  margin: 0;
  padding: 0;
}

/* wrapper section end */

/* recent works section start */

.recent-works {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
}

.works-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}

.recent-works .works-title h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  text-align: center;
  padding-bottom: 24px;
}

.solid-line {
  border: 1px solid #bbb;
  width: 100%;
}

/* recent works section end */

/* all projects multi section start */

.my-main-works {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 24px;
  padding-right: 24px;
}

.my-main-works .multi-project {
  width: 100%;
  height: 738px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 80px;
  gap: 10px;
}

.my-main-works .multi-project .project-image {
  background: url(./images/multi_project.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 337px;
}

.my-main-works .project-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.multi-project .project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.multi-project .project-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  width: 80%;
  padding-top: 5px;
}

.multi-project .project-tag p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 20px;
  color: #091e42;
  background: #fff;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

.multi-project .project-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  margin-top: 8px;
  width: 134px;
  height: 48px;
  background: #ff6b00;
}

.project-view a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 200px;
  height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  cursor: pointer;
}

/* all projects multi section end */

/* single projects start */

.my-main-works .single-project {
  width: 100%;
  height: 386px;
}

.my-main-works .single-project .project-image {
  width: 100%;
  height: 85%;
  background: url('./images/project_image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 80px;
  gap: 15px;
  overflow: hidden;
}

.my-main-works .single-project .project-image .single-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.my-main-works .single-project .project-image .single-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.my-main-works .single-project .project-image .single-language {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.my-main-works .single-project .project-image .single-language li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}

.single-project .view-project {
  width: 100%;
  height: 48px;
  background-color: #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-project .view-project #view-project-id {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

/* single project section end */

/* about me section start */
.about-me {
  width: 100%;
  height: 1901px;
  background-image: url('./images/about-me.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-position-y: 350.6px;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  gap: 12px;
}

.about-me .container {
  /* background-image: url('./images/about-me.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-position-y: 432.6px; */
  display: flex;
  justify-content: flex-start;
  min-width: 100%;
}

.about-me h3 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: 327px;
  height: 79px;
}

.about-me #about-me-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 148px;
  color: #f4f5f7;
}

.about-me button {
  width: 161px;
  height: 48px;
  background: #ff6b00;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.about-me button:hover {
  color: #ff6b00;
  background-color: #fff;
  border: 0.5px solid #ff6b00;
}

.about-me button:focus {
  background: #ff6b00;
  color: #fff;
}

.about-me hr {
  width: 100%;
  height: 0;
  margin-top: 201px;
  margin-right: 16px;
}

#about-my-self {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Inter", serif;
  margin-bottom: 100px;
}

#about-my-self .tool-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.tool-category h4 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
}

.heading1::before {
  content: url("./images/losange.png");
  position: absolute;
  left: -10px;
}

.heading2::before {
  content: url("./images/square.png");
  position: absolute;
  left: -10px;
}

.heading3::before {
  content: url("./images/circle.png");
  position: absolute;
  left: 1px;
}

.tool-category .list-heading .single-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

/* about me section end */

@media all and (max-width: 700px) {
  .container {
    gap: 11px;
    top: 170px;
  }

  .container .intro {
    font-size: 30px;
    line-height: 38px;
  }

  .container .description {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 600px) {
  .container {
    gap: 11px;
    top: 150px;
  }

  .container .intro {
    font-size: 28px;
    line-height: 36px;
  }

  .container .description {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 500px) {
  .container {
    gap: 15px;
    top: 140px;
  }

  .container .intro {
    font-size: 28px;
    line-height: 35px;
  }

  .container .title {
    font-size: 15px;
  }

  .container .description {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 400px) {
  .container {
    gap: 10px;
    top: 150px;
  }

  .container .intro {
    font-size: 38px;
    line-height: 34px;
  }
}

@media all and (max-width: 380px) {
  .container {
    gap: 10px;
    top: 150px;
    padding: 5px;
  }

  .container .intro {
    font-size: 28px;
    line-height: 34px;
  }

  .container .description {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 300px) {
  .container {
    gap: 8px;
    top: 150px;
    padding: 5px;
  }

  .container .intro {
    font-size: 24px;
    line-height: 27px;
  }

  .container .description {
    font-size: 13px;
    line-height: 19px;
  }
}

@media all and (max-width: 220px) {
  .container {
    gap: 3px;
    top: 150px;
  }

  .container .intro {
    font-size: 12px;
    line-height: 24px;
  }

  .container .title {
    font-size: 12px;
  }

  .container .description {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 200px) {
  .container {
    gap: 5px;
    top: 150px;
    padding: 1px;
  }

  .container .intro {
    font-size: 13px;
    line-height: 15px;
  }

  .container .title {
    font-size: 9px;
  }

  .container .description {
    font-size: 11px;
    line-height: 15px;
  }
}
